// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$color-background: #f4f4f4;
$color-text: #222222;
$color-purple: #3c1143;
$color-pink: #c25178;
$color-white: #ffffff;
$color-black: #000000;
$color-text-gray: #555555;
$color-border-gray: #999999;
$color-red: #bc3232;
$color-red-darker: #a02200;
$color-link: $color-text;
$color-link-hover: $color-pink;

$break-xsmall: 370px;
$break-small: 600px;
$max-width: 960px;

$medium-screen: 'only screen and (min-width : #{$break-xsmall})';
$bigger-screen: 'only screen and (min-width : #{$break-small})';

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// Colors
$white-color: #fff;
$black-color: #000;
$cerulean-color: #04a9f4;
$gray-color: #8b8b8b;
$emperor-color: #4f4f4f;
$fernFrond-color: #676121;
$loblolly-color: #c6ccd2;
$java-color: #18cfab;
$azure-color: #3162a2;
$azureRadiance-color: #0988ea;
$screamingGreen-color: #46ee6b; // mostly to indicate the state of the connected user(online)
$denim-color: #0d76c6;
$mystic-color: #e4eaf0;
$mysticLighter-color: #e9eff1;
$limedSpruce-color: #313b44;
$shark-color: #1e2327; //#22282d;
$athensGray-color: #f9fafb;
$paleSky-color: #6e7882;
$twilightBlue-color: #f3fcff;
$geraldine-color: #f88688;
$baliHai-color: #8b9daf;
$lightDark-custom-color: rgba(0, 0, 0, 0.15);
$goldColor: #ffd700;
$nepal-color: #93a3bc;
$sidecar-color: #f6f1bd;

$spinner-height: 30px;
$spinner-width: 30px;

// Header
$header-height: 45px;
$avatar-width: 35px;
$avatar-height: 35px;
$avatar-state-width: 8px;
$avatar-state-height: 8px;
$profile-menu-width: 140px;

// Nav Bar
$nav-bar-link-width: 100%;
$nav-bar-link-height: 65px;
$nav-bar-link-size: 30px;
$nav-bar-marker-size: 10px;

// Chatbox
$chatbox-padding-top: 10px;
$chatbox-padding-left: 20px;
$chatbox-title-font-size: 18px;
$chatbox-avatar-size: 35px;
$chatbox-header-height: 45px;
$chatbox-body-height: 470px;
